{
	"trailingComma": "all",
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"tabWidth": 4,
	"printWidth": 80,
	"arrowParens": "always",
	"importOrder": ["(@lib/.*)|(@utils/.*)", "@models/.*", "@configs/.*"],
	"importOrderSeparation": true,
	"importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
